/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.header__link:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  margin: 0px 10px 10px;
  border-radius: 15px;
  flex: 1;
  background-image: linear-gradient(to bottom, #062d14, black);
}

.main__texts {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.main__link:hover {
  text-decoration: underline;
}

/* Item Lists */

.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Single item */

.single-item {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
